<div class="flex justify-center flex-1 min-h-screen">
  <div class="flex">
    <div class="flex flex-col gap-5 pt-[70px] w-[700px]">
      <h2 class="text-3xl font-bold">
        Войти в E3Ride
      </h2>
      <div class="box-shadow rounded p-5">
        <div class="w-[100%]">
          <form
            [formGroup]="authForm"
            class="flex flex-col gap-3 border-b border-b-zinc-200 pb-5">
            <div class="border border-black rounded h-10 py-1 px-2">
              <input
                formControlName="email"
                type="email"
                class="outline-none w-full"
                autocomplete="username"
                placeholder="Телефон или почта">
            </div>
            <div class="flex justify-between border border-black rounded h-10 py-1 px-2">
              <input
                formControlName="password"
                type="password"
                class="outline-none w-full"
                autocomplete="current-password"
                placeholder="Пароль">
              <button class="py-1 px-2 rounded-2xl bg-[#e5e5e5]">
                Забыли?
              </button>
            </div>
            <div class="flex gap-2 items-center">
              <input
                class="checkbox-bg"
                id="rememberMe"
                type="checkbox"
                checked>
              <label for="rememberMe">Запомнить меня на сайте</label>
            </div>
            <div class="flex gap-2">
              <button
                class="h-[50px] bg-[#D9D9D9] hover:bg-[#FFCC00] active:bg-[#FFCC00] w-full rounded-lg font-bold text-black"
                (click)="submit()">
                Войти
              </button>
              <button class="h-[50px] bg-[#D9D9D9] hover:bg-[#FFCC00] active:bg-[#FFCC00] w-full rounded-lg font-black">
                Зарегистрироваться
              </button>
            </div>
          </form>
          <div class="flex justify-center gap-3 h-[50px] my-5">
            <button>
              <img
                ngSrc="./assets/icons/vk.png"
                alt=""
                height="45"
                width="45">
            </button>
            <button>
              <img
                ngSrc="./assets/icons/apple.png"
                alt=""
                height="45"
                width="45">
            </button>
            <button>
              <img
                ngSrc="./assets/icons/img.png"
                alt=""
                height="45"
                width="45">
            </button>
            <button>
              <img
                ngSrc="./assets/icons/google.png"
                alt=""
                height="45"
                width="45">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
