<div class="flex flex-col gap-5">
  <div>
    <h3 class="text-xl font-bold">
      Заполните анкету
    </h3>
  </div>
  <div class="flex flex-col gap-5">
    <div class="flex flex-col">
      <label for="hasTransport">Имеется ли у Вас Электротранспорт?</label>
      <select id="hasTransport"
              (change)="hasTransportChanged($any($event.target).value)">
        <option [value]="true">
          Да
        </option>
        <option [value]="false">
          Нет
        </option>
      </select>
    </div>
    <ng-container *ngIf="hasTransport">
      <form *ngFor="let form of formArray.controls"
            [formGroup]="form"
            class="flex flex-col gap-5">
        <div class="flex flex-col">
          <label for="type">Какой у Вас Электротранспорт?</label>
          <select id="type"
                  formControlName="type">
            <option [value]="transportTypeEnum.KICKSCOOTER">
              Электросамокат
            </option>
            <!--            <option [value]="transportTypeEnum.KICKSCOOTER">-->
            <!--              Моноколесо-->
            <!--            </option>-->
          </select>
        </div>
        <div class="flex flex-col">
          <label for="manufacturer">Производитель</label>
          <select id="manufacturer"
                  formControlName="manufacturer">
            <option *ngFor="let manufacturer of getManufacturers(form)">
              {{manufacturer}}
            </option>
          </select>
        </div>
        <div class="flex flex-col">
          <label for="model">Модель</label>
          <select id="model"
                  formControlName="model">
            <option *ngFor="let model of getModels(form)">
              {{model}}
            </option>
          </select>
        </div>
      </form>
      <!--      <button (click)="addItem()" class="w-[200px] h-[40px] bg-[#e5e5e5] rounded-3xl">-->
      <!--        Добавить еще-->
      <!--      </button>-->
    </ng-container>
    <div class="self-end w-[200px]">
      <button class="h-[50px] bg-[#cc4444] w-full rounded-full font-bold text-white"
              (click)="submit()">
        Далее
      </button>
    </div>
  </div>
</div>
