<form class="flex flex-col gap-2 box-shadow p-4 rounded-lg"
      [formGroup]="form">
  <h2 class="text-[20px]">Электрожурналы</h2>
  <select class="border"
          formControlName="transportType">
    <option [value]="null">Тип электротранспорта</option>
    <option [value]="transportTypeEnum.KICKSCOOTER">Электросамокат</option>
    <option [value]="transportTypeEnum.MONOWHEEL">Моноколесо</option>
  </select>
  <select class="border"
          formControlName="manufacturer">
    <option *ngFor="let manufacturer of manufacturers"
            [value]="manufacturer">
      {{manufacturer}}
    </option>
  </select>
  <select class="border"
          formControlName="model">
    <option *ngFor="let model of models"
            [value]="model">
      {{model}}
    </option>
  </select>
  <select class="border"
          formControlName="publicationType">
    <option *ngFor="let publication of publicationType"
            [value]="publication">
      {{publication}}
    </option>
  </select>

  <button type="submit" [disabled]="form.invalid" class="bg-[#FFCC00] p-2 rounded-2xl text-black mt-2 disabled:opacity-50">
    Найти
  </button>
</form>
