<div class="create-community">
  <div class="create-community__cover">
    <h3 class="create-community__title title-reset">
      Добавить обложку сообщества
    </h3>
    <div class="create-community__cover-btn-content">
      <button class="create-community__cover-btn">
        <!-- svg sprite -->
        <img class="create-community__btn-img" src="../../../../assets/svgicons/cimmunity-cover-create.svg"
          alt="cimmunity-cover-create">
      </button>
    </div>
  </div>
  <div class="create-community__created">
    <h3 class="create-community__title title-reset">
      Создание сообщества
    </h3>
    <form class="create-community__form" id="create-community-form">
      <ul class="create-community__list">
        <li class="create-community__item">
          <div class="create-community__item-content">
            <label class="create-community__label" for="create-community-name">Название</label>
            <input class="create-community__input" id="create-community-name" type="text">
          </div>
          <span class="create-community__error error">invalid error</span>
        </li>
        <li class="create-community__item">
          <div class="create-community__item-content">
            <label class="create-community__label" for="tethered-electric-vehicle">Привязанный электротранспорт</label>
            <input class="create-community__input" id="tethered-electric-vehicle" type="text">
          </div>
          <ul class="create-community__item-list">
            <li class="create-community__model">
              <span class="create-community__model-span">Ninebot Max G30, G30P,G30LP</span>
              <button class="create-community__model-btn">
                <!-- svg-sprite -->
                <img src="../../../../assets/svgicons/search-close.svg" alt="">
              </button>
            </li>
            <li class="create-community__model">
              <span class="create-community__model-span">NINEBOT</span>
              <button class="create-community__model-btn">
                <!-- svg-sprite -->
                <img src="../../../../assets/svgicons/search-close.svg" alt="">
              </button>
            </li>
          </ul>
        </li>
        <li class="create-community__item">
          <div class="create-community__item-content">
            <label class="create-community__label" for="create-community-descr">Описание</label>
            <textarea class="create-community__input create-community__textarea" id="create-community-descr"></textarea>
          </div>
          <span class="create-community__error error">invalid error</span>
        </li>
        <li class="create-community__item">
          <div class="create-community__item-content">
            <label class="create-community__label" for="create-community-city">Город</label>
            <input class="create-community__input" id="create-community-city" type="text">
          </div>
          <span class="create-community__error error">invalid error</span>
        </li>
        <li class="create-community__item">
          <div class="create-community__item-content">
            <label class="create-community__label" for="create-community-city">Телефон</label>
            <input class="create-community__input" id="create-community-city" type="tel">
          </div>
          <span class="create-community__error error">invalid error</span>
        </li>
        <li class="create-community__item">
          <div class="create-community__item-content">
            <label class="create-community__label" for="create-community-city">Сайт</label>
            <div>
              <img src="../../../../assets/img/site-icon.svg" alt="site-icon">
              <input class="create-community__input" id="create-community-city" type="url">
              <div>
                <input type="checkbox">
              </div>
            </div>

          </div>
          <span class="create-community__error error">invalid error</span>
        </li>
      </ul>
    </form>
  </div>
</div>