@import "_variables";
@import "_mixins";

.community {
  width: 80%;
  display: flex;
  justify-content: space-between;
  &__center {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__name,
  &__name-group,
  &__useful-sections,
  &__media,
  &__subscribers {
    background-color: $colorWhite;
    border-radius: 15px;
    box-shadow:
      0 0 0 1px #00000009,
      0 4px 25px #00000012;
  }
  &__name-group {
    padding: 20px 10px;
  }
  &__name {
    height: 290px;
    padding-left: 100px;
    padding-right: 100px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    background-image: url("../assets/img/communities-name-img.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__name-title {
    @include text(32px, 40px, 700, $colorWhite);
    font-family: "OpenSans", "sans-sarif";
  }
  &__name-model {
    @include text(28px, 32px, 600, $colorWhite);
    font-family: "OpenSans", "sans-sarif";
  }
  &__useful-sections {
    padding-left: 40px;
    padding-right: 40px;
  }
  &__useful-sections-title,
  &__media-title {
    margin-top: 7px;
    text-align: center;
    @include text(28px, 41.5px, 400, rgba($black-wash, 0.75));
    font-family: "Oswald", "sans-sarif";
  }
  &__useful-slider {
    margin-top: 15px;
    padding-bottom: 40px;
    margin-bottom: 10px;
  }
  &__useful-swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    @include text(16px, 20px, 400, $colorBlack);
    font-family: "OpenSans", "sans-sarif";
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
  }
  &__useful-swiper-slide-img {
    margin-bottom: 10px;
    width: 70px;
    height: 70px;
  }
  &__media {
    padding-left: 40px;
    padding-right: 40px;
  }

  &__media-slider {
    margin-top: 15px;
    padding-bottom: 40px;
    margin-bottom: 10px;
  }
  &__media-swiper-wrapper {
    align-items: center;
  }
  &__media-swiper-slide {
    border: 1px solid $colorGrey;
    border-radius: 7px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
  }
  &__media-swiper-img {
    display: block;
  }

  &__right {
    width: 28%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__name-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__name-group-title {
    margin-bottom: 11px;
    text-align: center;
    @include text(18px, 18px, 700, $colorBlack);
    font-family: "OpenSans", "sans-sarif";
  }
  &__name-group-img-content {
    margin-bottom: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__name-group-img {
    width: 100px;
    height: 100px;
  }
  &__group-count-content {
    margin-bottom: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__group-count {
    margin-right: 10px;
  }
  &__group-count,
  &__group-count-text {
    @include text(16px, 20px, 700, $colorBlack);
    font-family: "OpenSans", "sans-sarif";
  }
  &__name-group-descr {
    margin-bottom: 11px;
    text-align: center;
    @include text(16px, 20px, 400, $colorBlack);
    font-family: "OpenSans", "sans-sarif";
  }
  &__social-group-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;
  }
  &__social-group-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  &__social-group-list-link {
    display: flex;
    align-items: center;
    @include text(14px, 14px, 400, $blue);
    font-family: "OpenSans", "sans-sarif";
    transition: opacity 0.3s ease-in-out;
  }
  &__social-group-list-img {
    margin-right: 13px;
    width: 25px;
    height: 25px;
  }
  &__group-admin {
    margin-bottom: 31px;
  }
  &__group-admin-title {
    margin-bottom: 10px;
    @include text(16px, 20px, 700, $colorBlack);
    font-family: "OpenSans", "sans-sarif";
  }
  &__admin-list {
    display: grid;
    grid-template-columns: repeat(12, 4fr);
    gap: 5px;
  }
  &__admin-list-item {
    grid-column: span 4;
  }
  &__admin-list-link {
    transition: opacity 0.3s ease-in-out;
  }
  &__admin-list-avatar {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid $detective-coat;
  }
  &__name-group-btn {
    width: 178px;
    height: 39px;
    @include text(22px, 22px, 400, rgba($colorBlack, 0.75));
    font-family: "Oswald", "sans-sarif";
    background-color: $usc-gold;
    border-radius: 7px;
    transition:
      background-color,
      0.3s ease-in-out,
      color 0.3s ease-in-out;
  }
  &__subscribers {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__subscribers-title {
    text-align: center;
    margin-bottom: 10px;
    @include text(28px, 41.5px, 400, rgba($black-wash, 0.75));
    font-family: "Oswald", "sans-sarif";
  }
  &__subscribers-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  &__subscribers-number {
    margin-right: 5px;
  }
  &__subscribers-number,
  &__subscribers-number-text {
    margin-bottom: 15px;
    @include text(16px, 16px, 400, $colorBlack);
    font-family: "OpenSans", "sans-sarif";
  }
  &__subscribers-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 15px;
  }
  &__subscribers-link {
    display: flex;
    align-items: center;
    gap: 30px;
    transition: opacity 0.3s ease-in-out;
  }
  &__subscribers-link-img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid $detective-coat;
  }
  &__subscribers-link-right {
    display: flex;
    flex-direction: column;
  }
  &__subscribers-link-nickname {
    margin-bottom: 10px;
    @include text(16px, 16px, 700, $colorBlack);
    font-family: "OpenSans", "sans-sarif";
  }
  &__subscribers-link-rang {
    margin-bottom: 10px;
    @include text(14px, 14px, 400, $colorBlack);
    font-family: "OpenSans", "sans-sarif";
  }
  &__subscribers-link-status {
    @include text(14px, 14px, 400, rgba($colorBlack, 0.3));
    font-family: "OpenSans", "sans-sarif";
  }
  &__subscribers-btn {
    @include text(18px, 18px, 400, rgba($colorBlack, 0.5));
    font-family: "OpenSans", "sans-sarif";
    transition: color 0.3s ease-in-out;
  }
}

.community__useful-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: $usc-gold;
}

//hover
@media (min-width: 1024px) {
  .community {
    &__social-group-list-link:hover,
    &__admin-list-link:hover {
      opacity: 0.4;
    }
    &__name-group-btn:hover {
      background-color: $colorBlack;
      color: $colorWhite;
    }
    &__useful-swiper-slide:hover {
      opacity: 0.4;
    }
    &__media-swiper-slide:hover {
      opacity: 0.4;
    }
    &__subscribers-btn:hover {
      color: $usc-gold;
    }
    &__subscribers-link:hover {
      opacity: 0.4;
    }
  }
}

//active, focus
.community {
  &__social-group-list-link:active,
  &__admin-list-link:active {
    opacity: 0.4;
  }
  &__social-group-list-link:focus,
  &__admin-list-link:focus {
    opacity: 0.4;
    outline: none;
  }
  &__name-group-btn:active {
    background-color: $colorBlack;
    color: $colorWhite;
  }
  &__name-group-btn:focus-visible {
    background-color: $colorBlack;
    color: $colorWhite;
    outline: none;
  }
  &__useful-swiper-slide:active {
    opacity: 0.4;
  }
  &__useful-swiper-slide:focus {
    opacity: 0.4;
    outline: none;
  }
  &__media-swiper-slide:active {
    opacity: 0.4;
  }
  &__media-swiper-slide:focus {
    opacity: 0.4;
    outline: none;
  }
  &__subscribers-btn:active {
    color: $usc-gold;
  }
  &__subscribers-btn:focus {
    color: $usc-gold;
    outline: none;
  }
  &__subscribers-link:active {
    opacity: 0.4;
  }
  &__subscribers-link:focus {
    opacity: 0.4;
    outline: none;
  }
}
