@import "_variables";
@import "_mixins";

app-create-community {
  width: 80%;
}

.create-community {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__cover,
  &__created {
    background-color: $colorWhite;
    border-radius: 15px;
    box-shadow:
      0 0 0 1px #00000009,
      0 4px 25px #00000012;
  }
  &__cover {
    padding: 20px 10px;
  }
  &__title {
    margin-bottom: 20px;
    text-align: center;
    @include text(28px, 41.5px, 400, rgba($black-wash, 0.75));
    font-family: "Oswald", "sans-sarif";
  }
  &__cover-btn-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__cover-btn {
    transition: opacity 0.3s ease-in-out;
  }
  &__created {
    padding: 20px 30px;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    margin-bottom: 33px;
  }
  &__item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item-content-check {
    justify-content: flex-start;
  }

  &__label {
    width: 30%;
    max-width: 228px;
    margin-right: 39px;
    @include text(22px, 29px, 400, $colorBlack);
    font-family: "OpenSans", "sans-sarif";
  }
  &__input {
    margin-right: 47px;
    padding-left: 21px;
    padding-right: 21px;
    width: 70%;
    height: 52px;
    border: 1px solid rgba($colorBlack, 0.3);
    border-radius: 7px;
    @include text(16px, 16px, 400, $colorBlack);
    font-family: "OpenSans", "sans-sarif";
    transition: border 0.3s ease-in-out;
  }
  &__input-tethered-electric-vehicle {
    width: 40%;
  }
  &__input-check {
    width: 60%;
    margin-right: 17px;
  }
  &__input::placeholder {
    @include text(22px, 29px, 400, $colorBlack);
    font-family: "OpenSans", "sans-sarif";
  }
  &__error {
    display: none;
  }
  &__item-list {
    margin-top: 15px;
  }
  &__model {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
  }
  &__model-span {
    margin-right: 10px;
    @include text(18px, 18px, 400, $colorBlack);
    font-family: "OpenSans", "sans-sarif";
  }
  &__textarea {
    padding-top: 21px;
    padding-bottom: 21px;
    height: 200px;
    resize: none;
  }
  &__site {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__site-icon {
    width: 48px;
    height: 48px;
    margin-right: 50px;
  }
  &__site-check {
    margin-left: 27px;
  }
  &__btns {
    width: 100%;
  }
  &__btn {
    width: 50%;
    height: 56px;
    @include text(24px, 36px, 400, $colorBlack);
    font-family: "Oswald", "sans-sarif";
    transition: opacity 0.3s ease-in-out;
  }
  &__btn-cancel {
    border-radius: 15px 0 0 15px;
    background-color: $orochimaru;
  }
  &__btn-create {
    border-radius: 0 15px 15px 0;
    background-color: $usc-gold;
  }
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  &__input {
    display: none;
  }
  &__label {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: $colorBlack;
    display: inline-flex;
    position: relative;
    cursor: pointer;
  }
  &__label::before {
    content: "";
    align-self: flex-start;
    flex: 0 0 30px;
    height: 30px;
    background-color: $colorWhite;
    border: 1px solid rgba($colorBlack, 0.3);
    border-radius: 4px;
    margin: 0 30px 0 0;
  }
  &__label::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 7px;
    width: 30px;
    height: 30px;
    background-image: url("../assets/img/checkbox-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: scale(0);
  }
  &__input:checked + &__label::after {
    transform: scale(1);
  }
}

//hover
@media (min-width: 1024px) {
  .create-community {
    &__cover-btn:hover {
      opacity: 0.4;
    }
    &__input:hover {
      border: 1px solid $usc-gold;
    }
    &__btn:hover {
      opacity: 0.4;
    }
  }
}

//active, focus
.create-community {
  &__cover-btn:active {
    opacity: 0.4;
  }
  &__cover-btn:focus {
    opacity: 0.4;
    outline: none;
  }
  &__input:active {
    border: 1px solid $usc-gold;
  }
  &__input:focus {
    border: 1px solid $usc-gold;
    outline: none;
  }
  &__btn:active {
    opacity: 0.4;
  }
  &__btn:focus {
    opacity: 0.4;
    outline: none;
  }
}
