@import "_variables";
@import "_mixins";

app-create-community {
  width: 80%;
}

.create-community {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__cover,
  &__created {
    background-color: $colorWhite;
    border-radius: 15px;
    box-shadow:
      0 0 0 1px #00000009,
      0 4px 25px #00000012;
  }
  &__cover {
    padding: 20px 10px;
  }
  &__title {
    margin-bottom: 20px;
    text-align: center;
    @include text(28px, 41.5px, 400, rgba($black-wash, 0.75));
    font-family: "Oswald", "sans-sarif";
  }
  &__cover-btn-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__cover-btn {
    transition: opacity 0.3s ease-in-out;
  }
  &__created {
    padding: 20px 30px;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    margin-bottom: 33px;
  }
  &__item-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__label {
    max-width: 228px;
    margin-right: 39px;
    @include text(22px, 29px, 400, $colorBlack);
    font-family: "OpenSans", "sans-sarif";
  }
  &__input {
    padding-left: 21px;
    padding-right: 21px;
    width: 100%;
    height: 52px;
    border: 1px solid rgba($colorBlack, 0.3);
    border-radius: 7px;
    @include text(22px, 29px, 400, $colorBlack);
    font-family: "OpenSans", "sans-sarif";
    transition: border 0.3s ease-in-out;
  }
  &__input::placeholder {
    @include text(22px, 29px, 400, $colorBlack);
    font-family: "OpenSans", "sans-sarif";
  }
  &__error {
    display: none;
  }
  &__item-list {
    margin-top: 15px;
  }
  &__model {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
  }
  &__model-span {
    margin-right: 10px;
    @include text(18px, 18px, 400, $colorBlack);
    font-family: "OpenSans", "sans-sarif";
  }
  &__textarea {
    padding-top: 21px;
    padding-bottom: 21px;
    height: 200px;
    resize: none;
  }
}

//hover
@media (min-width: 1024px) {
  .create-community {
    &__cover-btn:hover {
      opacity: 0.4;
    }
    &__input:hover {
      border: 1px solid $usc-gold;
    }
  }
}

//active, focus
.create-community {
  &__cover-btn:active {
    opacity: 0.4;
  }
  &__cover-btn:focus {
    opacity: 0.4;
    outline: none;
  }
  &__input:active {
    border: 1px solid $usc-gold;
  }
  &__input:focus {
    border: 1px solid $usc-gold;
    outline: none;
  }
}
