@import "_variables";
@import "_mixins";

.footer {
  background-color: $colorBlack;
  &__top {
    padding-top: 19px;
    padding-bottom: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $detective-coat;
  }
  &__menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__menu-item:not(:last-child) {
    margin-right: 40px;
  }
  &__menu-link {
    font-family: "OpenSans", "sans-sarif";
    @include text(18px, 24.51px, 400, $colorWhite);
    transition: color 0.3s ease-in-out;
  }
  &__social-list,
  &__download-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__social-link,
  &__download-link {
    transition: opacity 0.3s ease-in-out;
  }
  &__social-item:not(:last-child) {
    margin-right: 22px;
  }
  &__download-item:not(:last-child) {
    margin-right: 5px;
  }
  &__social-svg {
    width: 42px;
    height: 42px;
  }
  &__bottom {
    padding-top: 12px;
    padding-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    @include text(22px, 30px, 400, $colorWhite);
    font-family: "OpenSans", "sans-sarif";
  }
}

//hover
@media (min-width: 1024px) {
  .footer {
    &__menu-link:hover {
      color: $usc-gold;
    }
    &__social-link:hover,
    &__download-link:hover {
      opacity: 0.4;
    }
  }
}

//active, focus
.footer {
  &__menu-link:active {
    color: $usc-gold;
  }
  &__menu-link:focus {
    color: $usc-gold;
    outline: none;
  }
  &__social-link:active,
  &__download-link:active {
    opacity: 0.4;
  }
  &__social-link:focus,
  &__download-link:focus {
    opacity: 0.4;
    outline: none;
  }
}
