@import "_variables";
@import "_mixins";

.header {
  background-color: $colorBlack;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__logo-img {
    background-color: $usc-gold;
    padding: 15px;
    margin-right: 10px;
  }
  &__search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__input {
    padding-left: 30px;
    padding-right: 80px;
    width: 478px;
    height: 40px;
    @include text(22px, 32.6px, 400, $dynamic-black);
    border-radius: 20px;
    border: 1px solid $colorGrey;
    transition: border 0.3s ease-in-out;
  }
  &__input::placeholder {
    @include text(22px, 32.6px, 400, rgba($dynamic-black, 0.6));
    font-family: "Oswald", sans-serif;
  }
  &__search-inner {
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__search-btn {
    padding-left: 12px;
  }
  &__close-btn {
    padding-right: 9px;
    border-right: 1px solid $colorGrey;
  }
  &__admin {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__admin-btn {
    transition: opacity 0.3s ease-in-out;
  }
  &__admin-btn:not(:last-child) {
    margin-right: 23px;
  }
  &__admin-avatar {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid $detective-coat;
  }
}

.header__search-svg svg {
  width: 25px;
  height: 25px;
  color: $colorGrey;
  transition: color 0.3s ease-in-out;
}

.header__close-svg svg {
  width: 25px;
  height: 25px;
  color: $colorGrey;
  transition: color 0.3s ease-in-out;
}

//hover
@media (min-width: 1024px) {
  .header {
    &__input:hover {
      border: 1px solid $usc-gold;
    }
    &__close-btn:hover &__close-svg,
    &__search-btn:hover &__search-svg {
      color: $usc-gold;
    }
    &__admin-btn:hover {
      opacity: 0.5;
    }
  }
}

//active, focus
.header {
  &__input:active {
    border: 1px solid $usc-gold;
  }
  &__input:focus {
    border: 1px solid $usc-gold;
    outline: none;
  }
  &__close-btn:active &__close-svg,
  &__search-btn:active &__search-svg {
    color: $usc-gold;
  }
  &__close-btn:focus,
  &__search-btn:focus {
    outline: none;
  }
  &__close-btn:focus &__close-svg,
  &__search-btn:focus &__search-svg {
    color: $usc-gold;
  }
  &__admin-btn:active {
    opacity: 0.5;
  }
  &__admin-btn:focus {
    opacity: 0.5;
    outline: none;
  }
}
