$colorBlack: #1E1E1E;
$colorWhite: #FFF;
$colorGrey: #999;
$usc-gold: #ffcc00;
$dynamic-black: #1e1e1e;
$black-swan: #2d2403;
$cascading-white: #f6f6f6;
$detective-coat: #8a8484;
$black-wash: #0d0d0d;
$dynamic-black: #1e1e1e;
$blue: #0057ff;
$orochimaru: #d9d9d9;









