<div class="main-page-bg">
  <div class="flex flex-col items-center justify-center">
    <div class="w-[960px]">
      <div class="flex flex-col gap-20 text-white">
        <div class="flex flex-col gap-4 mt-32">
          <span class="text-[48px] font-open-sans">
            Заведи себе электрожурнал - поделись своими мыслями и опытом с другими участниками
          </span>
          <span class="text-[38px] font-open-sans">
            22345 историй об электросамокатах, моноколесах и электровелосипедах уже опубликованы , присоединяйся!
          </span>
          <div class="flex gap-1">
            <div class="flex bg-white text-black rounded-3xl px-5 w-full rounded-r-[1px]">
              <img
                ngSrc="assets/icons/search.svg"
                alt="search-icon"
                width="48"
                height="48">
              <input
                type="text"
                class="outline-none w-full"
                placeholder="Поиск..."
                >
            </div>
            <button class="flex-shrink-0 bg-[#FFCC00] px-5 rounded-3xl rounded-l-[1px]">
              <p class="text-black text-[20px] font-oswald">Найти</p>
            </button>
          </div>
        </div>
        <div class="bg-white w-full rounded p-5">
          <div class="flex items-center justify-between text-black">
            <div>
              <span class="text-[30px] font-bold">
                Поиск по производителю :
              </span>
            </div>
            <div class="flex items-center gap-1 bg-[#ededed] rounded-2xl">
              <span class="px-6 py-1 bg-black text-white rounded-2xl">
                <button>Популярные</button>
              </span>
              <span class="px-6 py-1">
                <button>Все марки</button>
              </span>
            </div>
          </div>
          <div class="flex justify-between h-[105px] my-5">
            <div
              *ngFor="let imgPath of logos"
              class="p-2 bg-[#e5e5e5] rounded-2xl">
              <img
                [src]="imgPath"
                class="w-full h-full"
                alt="none">
            </div>
          </div>
          <div class="grid grid-cols-6">
            <div
              *ngFor="let model of models"
              class="py-2 px-1">
              <span class="text-black text-xl">
                {{model}}
              </span>
            </div>
          </div>
          <div class="mt-5 flex flex-col gap-2">
            <div class="flex">
                <button class="bg-[#D9D9D9] hover:bg-[#FFCC00] active:bg-[#FFCC00] w-full h-12 font-bold rounded-l-[10px] text-[16px] text-black font-oswald">
              Подбор электротранспорта по параметрам
            </button>
            <button class="bg-[#D9D9D9] hover:bg-[#FFCC00] active:bg-[#FFCC00] w-full h-12 font-bold rounded-r-[10px] text-[16px] text-black font-oswald">
              Калькулятор пробега электротранспорта
            </button>
            </div>
          </div>
          <div class="flex flex-col gap-5 mt-5 relative">
            <h2 class="text-center text-black text-[36px]">
              Какую сторону выберешь Ты?
            </h2>
            <div class="flex justify-center gap-2">
              <div class="flex flex-col items-center gap-2">
                <img
                  src="./assets/backgrounds/kickscooter.png"
                  class="rounded"
                  alt="">
                <span class="text-black text-[26px] font-bold border-b-2 border-b-amber-300 border-dashed tracking-[5px]">Электросамокат</span>
              </div>
              <div class="flex flex-col items-center gap-2">
                <img
                  src="./assets/backgrounds/monowheel.png"
                  class="rounded"
                  alt="">
                <span class="text-black text-[26px] font-bold border-b-2 border-b-amber-300 border-dashed tracking-[5px]">Моноколесо</span>
              </div>
            </div>
            <div class="absolute right-0 left-0 mr-auto ml-auto w-max bottom-5 border-2 border-white bg-black">
              <div class="flex gap-2 m-2 p-2 border border-white">
                <span class="text-yellow-300">1123</span>
                <span class="text-white">:</span>
                <span class="text-yellow-300">0567</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Подключение шрифта Oswald из Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<!-- Подключение шрифта Open Sans из Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">


