<aside class="sidebar">
  <div class="sidebar__inner">
    <ul class="sidebar__item">
      <li class="sidebar__item-list">
        <a class="sidebar__item-link" routerLink="../blog" routerLinkActive="sidebar__item-link--active">
          <svg-icon class="sidebar__item-svg" [src]="svgIconsBasePath + 'sidebar-item-1.svg'"></svg-icon>
          Главная лента
        </a>
      </li>
      <li class="sidebar__item-list">
        <a class="sidebar__item-link" routerLink="../myBlog" routerLinkActive="sidebar__item-link--active">
          <svg-icon class="sidebar__item-svg" [src]="svgIconsBasePath + 'sidebar-item-2.svg'"></svg-icon>
          Мой блог
        </a>
      </li>
      <li class="sidebar__item-list">
        <a class="sidebar__item-link">
          <svg-icon class="sidebar__item-svg" [src]="svgIconsBasePath + 'sidebar-item-3.svg'"></svg-icon>
          Каталог
        </a>
      </li>
      <li class="sidebar__item-list">
        <a class="sidebar__item-link">
          <svg-icon class="sidebar__item-svg" [src]="svgIconsBasePath + 'sidebar-item-4.svg'"></svg-icon>
          Электрожурналы
        </a>
      </li>
      <li class="sidebar__item-list">
        <a class="sidebar__item-link">
          <svg-icon class="sidebar__item-svg" [src]="svgIconsBasePath + 'sidebar-item-5.svg'"></svg-icon>
          Сообщества
        </a>
      </li>
      <li class="sidebar__item-list">
        <a class="sidebar__item-link">
          <svg-icon class="sidebar__item-svg" [src]="svgIconsBasePath + 'sidebar-item-6.svg'"></svg-icon>
          Подписки
        </a>
      </li>
      <li class="sidebar__item-list">
        <a class="sidebar__item-link">
          <svg-icon class="sidebar__item-svg" [src]="svgIconsBasePath + 'sidebar-item-7.svg'"></svg-icon>
          Закладки
        </a>
      </li>
    </ul>
    <ul class="sidebar__item">
      <li class="sidebar__item-list">
        <a class="sidebar__item-link">
          <svg-icon class="sidebar__item-svg" [src]="svgIconsBasePath + 'sidebar-item-8.svg'"></svg-icon>
          Подбор
        </a>
      </li>
      <li class="sidebar__item-list">
        <a class="sidebar__item-link">
          <svg-icon class="sidebar__item-svg" [src]="svgIconsBasePath + 'sidebar-item-9.svg'"></svg-icon>
          Калькулятор
        </a>
      </li>
      <li class="sidebar__item-list">
        <a class="sidebar__item-link">
          <svg-icon class="sidebar__item-svg" [src]="svgIconsBasePath + 'sidebar-item-10.svg'"></svg-icon>
          Магазины
        </a>
      </li>
      <li class="sidebar__item-list">
        <a class="sidebar__item-link">
          <svg-icon class="sidebar__item-svg" [src]="svgIconsBasePath + 'sidebar-item-11.svg'"></svg-icon>
          Сервисы
        </a>
      </li>
      <li class="sidebar__item-list">
        <a class="sidebar__item-link">
          <svg-icon class="sidebar__item-svg" [src]="svgIconsBasePath + 'sidebar-item-12.svg'"></svg-icon>
          Услуги
        </a>
      </li>
    </ul>
    <ul class="sidebar__item">
      <li class="sidebar__item-list">
        <a class="sidebar__item-link">
          <svg-icon class="sidebar__item-svg" [src]="svgIconsBasePath + 'sidebar-item-13.svg'"></svg-icon>
          Правила сайта
        </a>
      </li>
      <li class="sidebar__item-list">
        <a class="sidebar__item-link">
          <svg-icon class="sidebar__item-svg" [src]="svgIconsBasePath + 'sidebar-item-14.svg'"></svg-icon>


          Обратиться в поддержку
        </a>
      </li>
      <li class="sidebar__item-list">
        <a class="sidebar__item-link">
          <svg-icon class="sidebar__item-svg" [src]="svgIconsBasePath + 'sidebar-item-15.svg'"></svg-icon>
          Рекламодателям
        </a>
      </li>
    </ul>
  </div>
</aside>
