<div class="flex justify-center flex-1">
  <div class="flex">
    <div class="flex flex-col gap-5 pt-[70px] w-[700px]">
      <h2 class="text-3xl font-bold">
        Регистрация
      </h2>
      <ng-container [ngSwitch]="step">
        <div class="box-shadow rounded p-6">
          <ng-container *ngSwitchCase="0">
            <app-credentials (nextStep)="nextStep()"></app-credentials>
          </ng-container>
          <ng-container *ngSwitchCase="1">
            <app-avatar-pick (nextStep)="nextStep()"></app-avatar-pick>
          </ng-container>
          <ng-container *ngSwitchCase="2">
            <app-questionnaire (nextStep)="nextStep()"></app-questionnaire>
          </ng-container>
          <ng-container *ngSwitchCase="3">
            <app-personal-info></app-personal-info>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>
