<form class="flex flex-col gap-3 border-b border-b-zinc-200 pb-5 w-[70%]"
      [formGroup]="registerForm"
      (ngSubmit)="submit()">
  <div class="flex flex-col gap-2">
    <div class="border border-black rounded h-10 py-1 px-2">
      <input type="email"
             formControlName="email"
             class="outline-none w-full"
             autocomplete="username"
             placeholder="Ваша электронная почта">
    </div>
    <span class="text-xs text-red-400"
          *ngIf="emailFormControl.touched && emailFormControl.invalid">
                Введите корректный email
              </span>
  </div>
  <div class="flex flex-col gap-2">
    <div class="flex justify-between border border-black rounded h-10 py-1 px-2">
      <input type="password"
             formControlName="password"
             class="outline-none w-full"
             autocomplete="current-password"
             placeholder="Пароль">
    </div>
    <span class="text-xs text-red-400"
          *ngIf="passwordFormControl.touched && passwordFormControl.invalid">
                Введите пароль (минимум 8 символов)
              </span>
  </div>
  <div class="flex gap-2 items-center">
    <input class="checkbox-bg"
           id="rememberMe"
           type="checkbox"
           checked>
    <label for="rememberMe">Хочу получать рассылку лучших статей и новостей</label>
  </div>
  <div class="flex gap-2">
    <button class="h-[50px] bg-[#424242] hover:bg-[#FFCC00] hover:text-black active:bg-[#FFCC00] w-full rounded-full font-bold text-white"
            type="submit">
            Зарегистрироваться
    </button>

  </div>
</form>
