<div class="flex flex-col gap-5">
  <div>
    <h3 class="text-xl font-bold">
      Изображение
    </h3>
  </div>
  <div class="flex gap-10">
    <div class="flex flex-col gap-5">
      <h4 class="font-bold">Аватар (юзерпик)</h4>
      <img [src]="selectedImage"
           width="100"
           height="100"
           alt="avatar">
    </div>
    <div class="grid grid-cols-4 gap-2">
      <ng-container *ngFor="let avatar of avatars">
        <img [ngSrc]="avatar"
             (click)="selectImage(avatar)"
             class="border border-black"
             alt="avatar_pick"
             width="80"
             height="80">
      </ng-container>
    </div>
  </div>
  <div class="self-end w-[200px]">
    <button class="h-[50px] bg-[#cc4444] w-full rounded-full font-bold text-white"
            (click)="submit()">
      Далее
    </button>
  </div>
</div>
